#topBar{
    background-color: $charcoal;
    height: 5rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    #logo{
        height: 3rem;
        float: left;
        margin-left: 15%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        img{
            height: 100%;
            width: 100%;
        }
    }
    #list{
        display: inline-block;
        text-align: right;
        margin-right: 15%;
        margin-top: 1rem;
        float: right;
        ul{
            display: inline-block;
            text-align: center;
            margin-top: 1rem;
            margin-bottom: 1rem;
            li{
                display: inline-block;
                margin-left: 1rem;
                margin-right: 1rem;
                a{
                    font-family: Josefin Sans, sans-serif;
                    color: white;
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: 500;
                    border-bottom: 1px solid $charcoal;
                    transition: all 0.3s;
                    position: relative;
                    &:hover{
                        color: $dodger-blue;
                        border-color: $dodger-blue;
                        animation: grow 0.3s linear;
                        animation-fill-mode: forwards;
                    }
                }
            }
        }
    }
}